{{/*Disqus script*/}}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ .Permalink }}';
        this.page.identifier = '{{ .File.UniqueID }}';
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + '{{ $.Site.DisqusShortname }}' + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
