
<div class="ui inverted accordion">
    <div id="header" class="ui top inverted segment column box">
        <header id="aboutme" class="ui top attached left aligned inverted segment">
            <i class="inverted big link bullseye icon dream-flip-toggle" title="{{ i18n `flip` }}"></i>
        </header>
        {{/*Author*/}}
        <header id="author" class="ui attached center aligned inverted segment">
            {{ partial "author.html" . }}
        </header>

<!-- Show/hide tags button
        {{/*Dropdown button*/}}
        <div class="{{ cond .IsPage `` `active` }} title header-title">
            {{ if or $.Site.Params.categories.enabled $.Site.Params.tags.enabled }}
                <div id="tag-category-pop" class="ui red right corner label">
                    <i class="hand point icon {{ cond .IsPage `down` `up` }}" title="{{ i18n "popTagsCategories" }}"></i>
                </div>
            {{ end }}
        </div>
-->

<!--- Tags area
        {{/*Tags and categories*/}}
        <div id="tag-category" class="{{ if not .IsPage }}active{{ end }} content">
            {{ if and $.Site.Params.tags.enabled $.Site.Taxonomies.tags }}
                <section class="ui attached center aligned inverted segment dream-tags none flexbox">
                    {{ $limit := $.Site.Params.tags.tagLimit | default 8 }}
                    {{ $args := dict "context" . "isPost" false "tags" $.Site.Taxonomies.tags "limit" $limit }}
                    {{ partial "tags.html" $args }}
                </section>
            {{ end }}

            {{ if and $.Site.Params.categories.enabled $.Site.Taxonomies.categories }}
                <section class="ui attached inverted segment dream-categories both flexbox">
                    <div class="inverted accordion">
                        {{ partial "categories.html" . }}
                    </div>
                </section>
            {{ end }}
        </div>
-->
        {{/*Footer*/}}
        <footer class="ui bottom attached center aligned inverted segment">
            {{ partial "footer.html" . }}
        </footer>
    </div>
</div>
