{{/*Load Semantic UI*/}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

{{/*Load fonts*/}}
 <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Inconsolata" rel="stylesheet">

{{/*Load rest of the CSS files*/}}
{{ partial "css.html" . }}

{{/*JS variable initializations*/}}
<script>
    {{ with $.Site.Params.shortest.enabled }}
        var shToken = {{ $.Site.Params.shortest.apiToken }}
        var shDomains = {{ $.Site.Params.shortest.domains }}
    {{ end }}
    var isMobile = ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
    console.log("The client device is a "+(isMobile?"mobile":"PC")+".")
</script>
