{{/*Cover described in the frontmatter*/}}
{{ $frontCover := .Params.cover }}
{{ with $frontCover }}
    {{ $.Scratch.Set "cover" $frontCover }}
{{ else }}
    {{ $image := .Resources.GetMatch "cover.*" }}
    {{ with $image }}
        {{ with $.Site.Params.features.coverArgs }}
            {{ $.Scratch.Set "args" $.Site.Params.features.coverArgs }}
        {{ else }}
            {{ $.Scratch.Set "args" "420x270" }}
        {{ end }}
        {{ $image := $image.Resize ($.Scratch.Get "args") }}
        {{ $.Scratch.Set "cover" $image.RelPermalink }}
    {{ else }}
        {{ $.Scratch.Set "cover" (print "/img/default" (index (seq 1 6 | shuffle) 0) ".jpg") }}
    {{ end }}
{{ end }}
{{ $cover := $.Scratch.Get "cover" }}

{{/*Card*/}}
<article class="blog-card none flexbox">
    <img class="image" src="{{ $cover }}"></img>

    <div class="card title-content twemoji">
        <h3><a class="title" href="{{ .Params.link }}">{{ .Title }}</a></h3>

        <div class="intro twemoji">
            {{ if .Params.description }}
                {{ .Params.description | emojify | markdownify }}
            {{ else }}
                <br><br>
            {{ end }}
        </div>
    </div>
    <div class="card color-overlay"></div>
</article>
