{{/*Cover described in the frontmatter*/}}
{{ $frontCover := .Params.cover }}
{{ with $frontCover }}
    {{ $.Scratch.Set "cover" $frontCover }}
{{ else }}
    {{ $image := .Resources.GetMatch "images/cover.*" }}
    {{ with $image }}
        {{ with $.Site.Params.features.coverArgs }}
            {{ $.Scratch.Set "args" $.Site.Params.features.coverArgs }}
        {{ else }}
            {{ $.Scratch.Set "args" "420x270" }}
        {{ end }}
        {{ $image := $image.Resize ($.Scratch.Get "args") }}
        {{ $.Scratch.Set "cover" $image.RelPermalink }}
    {{ else }}
        {{ $.Scratch.Set "cover" (print "/img/default" (index (seq 1 6 | shuffle) 0) ".jpg") }}
    {{ end }}
{{ end }}
{{ $cover := $.Scratch.Get "cover" }}

<article class="blog-card none flexbox">
    {{/*Card*/}}
    <img class="image" src="{{ $cover }}"></img>
    <div class="title-content twemoji">
        <h3><a class="title" href={{ .Permalink }}>{{ .Title }}</a></h3>
        <div class="intro twemoji">
            {{ if .Params.description }}
                {{ .Params.description | emojify | markdownify }}
            {{ else }}
                <br><br>
            {{ end }}
        </div>
    </div>

    {{/*Card info*/}}
    <div class="utility-info">
        <ul class="utility-list">
            {{ if $.Site.DisqusShortname }}
                <div><i class="comment icon"></i><span class="disqus-comment-count" data-disqus-identifier="{{ .File.UniqueID }}"></span></div>
            {{ end }}
            <div><span><i class="calendar icon"></i>{{ .Date.Format "Jan 2, 2006" }}</span></div>
            <div><span><i class="clock icon"></i>{{ .ReadingTime }} min read</span></div>
        </ul>
    </div>
    <div class="color-overlay"></div>
</article>
