{{/*Title*/}}
{{ define "title" }}
    {{ i18n "archive" }}
{{ end }}

{{/*Content*/}}
{{ define "content"}}
    {{ partial "nav.html" (dict "context" . "rssButton" true "contentType" "posts") }}
    <div class="ui centered grid">
        {{/*Posts*/}}
        <div class="sixteen wide mobile fifteen wide tablet fifteen wide computer column post-list">
            <div class="ui inverted segment">
                <h2 class="ui header">{{ i18n "archive" }}<hr>
                    <div class="ui grey sub header">{{ .Content }}</div>
                </h2>

                {{ range .Data.Pages.GroupByDate "2006" }}
                    <h3 class="ui header">{{ .Key }}</h3>
                    <ul>
                        {{ range .Pages }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
