{{/*Title*/}}
{{ define "title" }}
    {{ i18n .Data.Singular 1 }}
{{ end }}

{{/*Content*/}}
{{ define "content"}}
    {{ $cardCount := where $.Site.RegularPages "Section" "cards" | len }}
    {{ $contentType := cond (ne $cardCount 0) "cards" "posts" }}
    {{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}
    <div class="ui centered grid">
        {{/*Header*/}}

        {{/*Tags*/}}
        <div class="sixteen wide mobile fifteen wide tablet fifteen wide computer column post-list">
            <div class="ui inverted segment">
                <h1 class="ui header">
                    {{ i18n .Data.Singular 1 }}{{ "---" | markdownify }}
                </h1>

                {{/*Taxonomy terms*/}}
                {{ $data := .Data }}
                {{ range $data.Terms.Alphabetical }}
                    {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
                    <h3 class="ui header">
                        <a href="{{ $termLink }}">{{ .Term }}</a> - ({{ i18n "article" .Count }})
                    </h3>
                    <ul>
                        {{ range .Pages }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}
