{{/*Title*/}}
{{ define "title" }}
    Page Not Found
{{ end }}

{{/*Content*/}}
{{ define "content" }}
    {{ $cardCount := where $.Site.RegularPages "Section" "cards" | len }}
    {{ $contentType := cond (gt $cardCount 0) "cards" "posts" }}
    {{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}

    <div class="ui centered grid four-o-four">
        <div class="fifteen wide mobile fifteen wide tablet fifteen wide computer column">
            <section class="ui stacked segments">
                <div class="ui inverted segment">
                    {{/*Error message*/}}
                    <article class="twemoji">
                        {{ if fileExists "/content/404.md" }}
                            {{ readFile "/content/404.md" | markdownify | emojify }}
                        {{ else }}
                            <h1>Error 404: Page Not Found</h1><hr>
                            <h4>It seems that the page that you're trying to access doesn't exist. {{ ":worried:" | emojify }}</h4>
                            <h4>If you're sure that it exists, chances are it might have been moved to a new link! You may search for it on the home page.</h4>
                        {{ end }}
                        <p><center><a class="ui center aligned blue label" href="/">{{ i18n "returnHome" }}</a></center></p>
                    </article>
                </div>
            </section>
        </div>
    </div>
{{ end }}
