{{/*Content*/}}
{{ define "content"}}
    {{ $cardCount := where $.Site.RegularPages "Section" "cards" | len }}
    {{ $contentType := cond (gt $cardCount 0) "cards" "posts" }}
    {{ $.Scratch.Set "contentType" $contentType }}
    {{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}

    <div class="ui centered grid">
        <!--
        {{/*Header*/}}
        <div class="fifteen wide mobile fifteen wide tablet three wide computer column">
            {{ partial "sidebar.html" . }}
        </div>
        -->

        {{/*Cards*/}}
        <div class="fifteen wide mobile fifteen wide tablet twelve wide computer column post-list">
            <div class="cards row box">
                {{ range .Paginator.Pages }}
                    {{ .Render "card" }}
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "bodyEnd" }}
    {{/*Load Disqus Count JS*/}}
    {{ with $.Site.DisqusShortname }}
        {{ if eq ($.Scratch.Get "contentType") "posts" }}
            <script id="dsq-count-scr" src="//{{ $.Site.DisqusShortname }}.disqus.com/count.js" async></script>
        {{ end }}
    {{ end }}
{{ end }}
