{{/*Title*/}}
{{ define "title" }}
    {{ i18n .Data.Singular | humanize }} | {{ .Data.Term }}
{{ end }}

{{/*Content*/}}
{{ define "content"}}
    {{ $cardCount := where $.Site.RegularPages "Section" "cards" | len }}
    {{ $contentType := cond (gt $cardCount 0) "cards" "posts" }}    
    {{ partial "nav.html" (dict "context" . "rssButton" true "contentType" $contentType) }}
    
    <div class="ui centered grid">
        
        <div class="fifteen wide mobile fifteen wide tablet fifteen wide computer column post-list">
            <div class="cards row box">
                {{ range .Paginator.Pages }}
                    {{ .Render "card" }}
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "bodyEnd" }}
    {{/*Load Disqus Count JS*/}}
    {{ with $.Site.DisqusShortname }}
        {{ if gt (where $.Site.RegularPages "Section" "posts" | len) 0  }}
            <script id="dsq-count-scr" src="//{{ $.Site.DisqusShortname }}.disqus.com/count.js" async></script>
        {{ end }}
    {{ end }}
{{ end }}
